<div class="domicilioComponent">
  <div class="row">
    <div class="col-md-12">
      <h3>Domicilio</h3>
      <p>Ingresa un <strong>domicilio nacional</strong>. Debe coincidir con el <strong>comprobante de domicilio</strong> que presentarás en sucursal.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-input-component
        textToShow="Calle y número">
      </app-input-component>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">
      <app-input-component
        textToShow="Código postal">
      </app-input-component>
    </div>
    <div class="col-md-6">
      <app-input-component
        textToShow="Estado">
      </app-input-component>
    </div>
  </div>
</div>
